/* Responsive Design Start Here */
@media (max-width: 991px) {

    /* Common CSS */
     /* Start Design Image CSS */

     .theme-button {
        margin-bottom: 35px;
    }
     .design-image {
        padding-right: 20px;
    }


    .design-image::after {
        left: 20px;
        right: 0;
        top: 20px;
        bottom: -20px;
    }

    .design-image-two {
        padding-left: 20px;
    }


    .design-image-two::after {
        left: 0;
        right: 20px;
        top: -20px;
        bottom: 20px;
    }

    /* End Design Image CSS */

       /* Start Design CSS */
    
    .service-area .design {
        margin-top: 25px;
    }

    /* End Design CSS */


    /* Start Header Area CSS */

    .navbar-nav .nav-item:last-child {
        margin-left: 25px;
        
    }
    

    /* End Header Area CSS */

    /* Start About Area CSS */
    .about-area h4 {
        padding-top: 20px;
    }

    /* End About Area CSS */

    /* Start footer Css */
      .footer-about img {
        margin-bottom: 35px;
      }
      
      .footer-social-link ul{
        padding: 0 ;
        margin: 0 ;
      }

      .footer-link h3 {
        margin: 0;
      }
      .footer-link {
        padding-top: 15px;
        
      }

      /* End Footer CSS */
}
   
